<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap3/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </header>
    <div class="container">
        <h3>{{{_section.title}}}</h3>
        <div>
            {{{body}}}
        </div>
        
    </div>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>
</body>
</html>