body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header{
  height: 100px;
  background-color: lightskyblue;
}
li{
  float: left;
}
.container{
  margin: 0 auto;
  width: 1000px;
}