{{#section 'title'}}
    Login
{{/section}}

<form action="#" method="POST" class="form-inline">
    <div class="form-group">
        <label for="id-user">Username</label>
        <input type="text" class="form-control" id="id-user" placeholder="Username">
    </div><br>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>  
    <button type="submit">Submit</button>  
</form>